body {
    font-family: "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, sans-serif;
}

input[type=text] {
    width: 200px;
    display: inline-block;
}

.kanji {
    cursor: pointer;
}

.btn {
    font-size: 15px !important;
}

.feedback {
    font-size: 15px !important;
}